Django
django-hitcount
django-markdownify
django-simple-bulma==2.2.0
django-stdimage
django-tagulous
gunicorn
Pillow
safety
# No other database to used in production anyway ;)
psycopg2
# For security
urllib3>=1.26.4
