{% extends "base.html" %}

{% load i18n %}
{% load markdown_filter %}

{% block content %}
<div>
{{ object.description_short }} <br/>
<img src="{{ object.image.medium.url }}" /><br/>

{{ object.description|markdown_filter|safe }}<br/>

<h2>Copyrights</h2>
{% if object.photo_copyright %}
Photo by: <br/>
	{% for p in  object.photo_copyright.all %}
		{{ p }} <br/>
	{% endfor %}
	<br/>
{% endif %}
{% if object.print_copyright %}
Printed/published by:<br/>
	{% for p in  object.print_copyright.all %}
		{{ p }} <br/>
	{% endfor %}
	<br/>
{% endif %}


{% if object.postcrossing %}
<h2>Postcrossing</h2>
Postcrossing: <br/>
	<a href="{{object.postcrossing.url}}">{{object.postcrossing.pc_id}}</a>
{% endif %}

<h2>Tags</h2>
{% for tag in object.tags.all %}
{{ tag.name }}
{% endfor %}

</div>
<a href="{% url "index" %}">Home</a>
{% endblock %}
