{% extends "base.html" %}

{% load i18n %}
{% load django_simple_bulma %}
{% bulma %}
{% font_awesome %}
{% block content %}
<div class="container">
    <h1 class="title">Postcards</h1>
    <div class="columns">
        <div class="column">
            <div class="columns is-multiline">
            {% for item in object_list %}
                <div class="column has-background-light">
                    <div class="card">
                        <header class="card-header has-text-centered">
                            <p class="card-header-title"><a href="{% url "postcard_detail" item.id %}">{{ item.description_short }}</a></p>
                        </header>
                        <div class="card-content">
                            <div class="content">
                                <a href="{% url "postcard_detail" item.id %}"><img src="{{ item.image.thumbnail.url }}"/></a>
                            </div>
                            <div class="content">
                                <p>{{ item.year_recieved}} </p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
