{% extends "base.html" %}

{% load i18n %}
{% block content %}
    <div class="section">
        <div class="container box">
            <nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
                <ul>
                    <li class="is-active"><a href="#" aria-current="page">Start</a></li>
                </ul>
            </nav>

            <div class="tile is-ancestor">
            {% for item in page_obj %}
                <div class="tile is-parent is-3">
                    <div class="card box">
                        <header class="card-header">
                            <p class="card-header-title has-text-dark"><a class="has-text-dark" href="{% url "postcard_detail" item.id %}">{{ item.title }} </a></p>
                        </header>
                        <div class="card-content">
                            <figure class="image">
                                <a href="{% url "postcard_detail" item.id %}">
<img src="{{ item.image.small.url }}" alt="{{ item.title }}"> </a>
                            </figure>
                        </div>
                        <footer class="card-footer">
                            <p><time datetime="2016-1-1">{% if item.publishing_date %}{{ item.publishing_date  }} {% else %} {{ item.creation_timestamp }} {% endif %}</time></p>
                        </footer>
                    </div>
                </div>
            {% if forloop.counter|divisibleby:"4" and not forloop.last %}
            </div>
            <div class="tile is-ancestor">
            {% endif %}
            {% endfor %}
            </div>
            {% if page_obj.paginator.num_pages > 1 %}
            <nav class="pagination is-centered" role="navigation" aria-label="pagination">
            {% if page_obj.has_previous %}
                <a href="?page=1" class="pagination-previous">Start</a>
                <a href="?page={{ page_obj.previous_page_number }}" class="pagination-previous">Vorherige</a>
            {% else %}
                <a class="pagination-previous" disabled>Start</a>
                <a class="pagination-previous" disabled>Vorherige</a>
            {% endif %}
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="pagination-next">Nächste</a>
                <a href="?page={{ page_obj.paginator.num_pages }}" class="pagination-next">Letzte</a>
            {% else %}
                <a class="pagination-next" disabled>Nächste</a>
                <a class="pagination-next" disabled>Letzte</a>
            {% endif %}
            </nav>
            {% endif %} {# More than one page #}
        </div>


    </div>
{% endblock %}
