{% extends "base.html" %}

{% load i18n %}
{% load django_simple_bulma %}
{% bulma %}
{% font_awesome %}
{% block content %}
	<section class="hero is-dark">
		<div class="hero-body">
			<div class="container">
				<h1 class="title">Postkarten Sammlung</h1>
			</div>
		</div>
	</section>

    <div class="section">
        <div class="container box">
            <nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
                <ul>
                    <li class="is-active"><a href="#" aria-current="page">Start</a></li>
                </ul>
            </nav>
            <div class="tile is-ancestor">
            {% for item in object_list %}
                <div class="tile is-parent is-3">
                    <div class="card">
                        <header class="card-header">
                            <p class="card-header-title has-text-dark"><a class="has-text-dark" href="{% url "postcard_detail" item.id %}">{{ item.description_short }} </a></p>
                        </header>
                        <div class="card-content">
                            <figure class="image">
                                <a href="{% url "postcard_detail" item.id %}">
<img src="{{ item.image.medium.url }}" alt="{{ item.description_short }}"> </a>
                            </figure>
                            <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                        </div>
                    </div>
                </div>
            {% if forloop.counter|divisibleby:"4" and not forloop.last %}
            </div>
            <div class="tile is-ancestor">
            {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
