{% extends "base.html" %}

{% load i18n %}
{% load django_simple_bulma %}
{% bulma %}
{% font_awesome %}
{% load markdownify %}

{% block content %}

    <div class="section">
        <div class="container box">
            <div class="tile is-parent">
                <div class="card">
                    <header class="card-header">
                        <h2 class="title">{{ object.name }}{% if item.orig_name %}({{ item.orig_name }}) {% endif %}</h2>
                    </header>
                    <div class="card-content">
                        <div class="content">
                            {% if object.description %}
                            <h3>Beschreibung</h3>
                                {{ object.description|markdownify}}
                            {% endif %}
                            {% if object.url or object.phone or object.address %}
                            <h3>Kontakt</h3>
                            <ul>
                                {% if object.url %}<li><strong>Homepage:</strong> <a href="{{ object.url}}" target=”_blank” >{{ object.url}}</a></li>{% endif %}
                                {% if object.phone %}<li><strong>Phone:</strong> {{object.phone}}</li>{% endif %}
                                {% if object.address %}<li><strong>Address:</strong> {{ object.address|markdownify}}</li>{% endif %}
                            </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="tile is-ancestor">
            {% for item in postcards %}
                <div class="tile is-parent is-3">
                    <div class="card box">
                        <header class="card-header">
                            <p class="card-header-title has-text-dark"><a class="has-text-dark" href="{% url "postcard_detail" item.id %}">{{ item.title }} </a></p>
                        </header>
                        <div class="card-content">
                            <figure class="image">
                                <a href="{% url "postcard_detail" item.id object.id %}">
<img src="{{ item.image.small.url }}" alt="{{ item.title }}"> </a>
                            </figure>
                        </div>
                        <footer class="card-footer">
                            <p><time datetime="2016-1-1">{% if item.publishing_date %}{{ item.publishing_date  }} {% else %} {{ item.creation_timestamp }} {% endif %}</time></p>
                        </footer>
                    </div>
                </div>
            {% if forloop.counter|divisibleby:"4" and not forloop.last %}
            </div>
            <div class="tile is-ancestor">
            {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
